.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 0 10px rgb(140, 140, 140);
  width: 20vw;
  border-radius: 1.5rem;
  transition: 0.5s;
  padding: 2vw;
  height: 30vw;
  margin: 2vw;
  cursor: pointer;
}

.cardContainer:hover {
  box-shadow: 0 0 10px rgb(55, 55, 55);
  transition: 0.5s;
}
.name {
  font-weight: bold;
  font-size: 1.3vw;
}
.mowerImg {
  width: 15vw;
}
.test {
  width: 20vw;
  height: 20vw;
}
.additionalInfo {
  font-size: 1vw;
  color: rgb(0, 0, 0);
}
.mowerInfoContainer{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: space-between;
}
.spacing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.price{
    color: rgba(128, 128, 128, 0.693);
    text-align: end;
    font-size: 1.3vw; 
}
@media screen and (max-width: 768px) {
    .cardContainer{
        height: 30vw;
        width: 20vw;
        border-radius: 1rem;
      
    }
    .name{
        font-size: 2vw;
    }
    .mowerImg {
       /* width: 25vw; */
      }
    .price{
        font-size: 6px;
    }
    .additionalInfo {
        font-size: 8px;
    }
}
@media screen and (max-width: 400px){
.cardContainer{
  border-radius: 0.5rem;
}
}
