/*
/* Styling for the switch container */
.switch {
    
    position: relative; /* Position relative for absolute positioning inside */
    width: 500px; /* Width of the switch container */
    height: 200px; /* Height of the switch container */
    border-radius: 1000px; /* Round the corners to make it circular */
}

/* Styling for the switch input */
.switch input {
    appearance: none; /* Remove default styling */
    width: 400px; /* Width of the input area */
    height: 55px; /* Height of the input area */
    border-radius: 1000px; /* Round the corners to make it circular */
    background: #2E2E2E; /* Background color of the switch */
    outline: none; /* Remove outline */
}

/* Styling for pseudo-elements (before and after) of the switch input */
.switch input::before,
.switch input::after {
    z-index: 2; /* Ensure pseudo-elements are above the input */
    position: absolute; /* Position relative to the switch container */
    font-size: 25px; /* Adjusted font size */
    top: 0; /* Position vertically */
    transform: translateY(-80%); /* Center vertically */
    font-weight: normal; /* Set font weight */
    transition: color 0.5s; /* Transition effect for color change */
    
}

/* Styling for the text before the switch */
.switch input::before{
    content: "Roboty koszące"; /* Text before the switch */
    left: 20px; /* Position from the left */
    color: #2e2e2e; /* Initial color of the text */
}

/* Styling for the text after the switch */
.switch input::after{
    content: "Akcesoria"; /* Text after the switch */
    right: 20px; /* Position from the right */
    color: #eeeeee; /* Initial color of the text */
}

/* Styling for the checked state of the switch */
.switch input:checked {
    background: #2E2E2E; /* Background color of the switch when checked */
}

/* Styling for the label */
.switch label{
    z-index: 1; /* Ensure label is above other elements */
    position: absolute; /* Position relative to the switch container */

    height: 55px;

    border-radius: 50px; /* Round the corners to make it circular */
    background: #FFFFFF; /* Background color of the moving slider part */
    mix-blend-mode: difference; /* Blend mode to make text color #2E2E2E when slider is on top */
}

/* Styling for the moving slider part when the switch is checked */
.switch input:checked+label{
    left: 0px; /* Position from the left when checked */
    right: 100px; /* Position from the right when checked */
    background: #FFFFFF; /* Background color of the moving slider part when checked */
    transition: left 0.5s, right 0.4s 0.2s, background 0.5s; /* Add transition for background color */
}

/* Styling for the unchecked state of the switch */
.switch input:not(:checked){
    transition: none; /* Remove transition for background color */
}

/* Styling for the text before the switch when it's unchecked */
.switch input:not(:checked)::before {
    color: #eeeeee; /* Change color when not checked */
}

/* Styling for the text after the switch when it's unchecked */
.switch input:not(:checked)::after{
    color: #2E2E2E; /* Change color when not checked */
}

/* Styling for the label when the switch is unchecked */
.switch input:not(:checked) +label{
    left: 140px; /* Position from the left when unchecked */
    right: 0px; /* Position from the right when unchecked */
    background: #EEEEEE; /* Background color of the moving slider part when unchecked */
    transition: left 0.4s 0.2s, right 0.5s; /* Add transition for position */
}
   