.shop-hero-container{
    background: url(./Images/Kosiara.png) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px (0,0,0,0.2); 
    object-fit: contain;
}
.shop-hero-container-checked{
    background: url(./Images/Kosiara.jpg) no-repeat center/cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px (0,0,0,0.2); 
    object-fit: contain;
}

h2 {
    font-family: poppins;
    display: flex;
    justify-content: center;
    align-items:start;
    min-height: 100vh;
    font-size: 12em;
    font-weight: 5200;
    color: #444;
    letter-spacing: 5px;
    

}
h2:hover span:nth-child(2):after {
    content: ".";
    margin-right: 5px; /* Adjust the margin as needed */
}
h2 span {
    transition: 0.5s;
}
h2:hover span:nth-child(2) {
    margin-right: 10px;
}

h2:hover span:nth-child(2) {
    /* margin-left: 10px; */
}
h2:hover span.highlight,
h2:hover span.highlight:after,
h2:hover span.bot:after {
   color: #fff;
   text-shadow: 0 0 10px #fff,
                0 0 20px #fff,
                0 0 40px #fff,
                0 0 80px #fff;
}


 