.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background: rgba(250, 250, 250, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.link-style{
  color: black;
  list-style-type: none;
  text-decoration: none;
}







