.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
  
   justify-content: center;
    
}
.shopContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

